@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.scrollbar {
  scrollbar-gutter: stable both-edges;
  /*#e5e7eb;*/
  scrollbar-color: #d1d5db transparent; 
  /*scrollbar-width: thin ;*/
}

.insetshadow {
  box-shadow: 
    inset 0 4px 16px -1px rgb(0 0 0 / 0.1), 
    inset 0 2px 14px -2px rgb(0 0 0 / 0.1), 
    inset 0 4px 16px -1px rgb(209 213 219), 
    inset 0 2px 14px -2px rgb(209 213 219);
}